@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}
section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
} 

.Home-Banner {
  /* background-image: url(/assets/img/herobg1.png); */
  background-position: bottom;
  /* background-color: #CDCDCD; */
  background-size: cover;
  /* border-bottom: 22px solid #CDCDCD;  */
  /* Add a bottom border */
}

.Home-Banner::before,
.Home-Banner::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 12px; /* Set the height of the filter elements to match the border thickness */
  /* background-color: rgba(223, 223, 223, 0.919); */
   /* Add a semi-transparent black color to the filter elements */
  z-index: -1;
}

.Home-Banner::before {
  top: -12px; /* Position the top filter element above the banner container */
}

.Home-Banner::after {
  bottom: -12px; /* Position the bottom filter element below the banner container */
}


.Home-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* place-items: center; */
  /* align-items: center; */
  /* align-content: center; */
  /* padding: 30px 30px;  */
  /* font-size: ; */
}.banner-title {
  font-weight: 300;
  font-size: 50px;
}

/* .Home-text-title{
  font-size: 70px;
}
.Home-text-subtitle{
  font-size: 25px;
} */


.bg-cover {
  background-size: cover;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.bg-center {
  background-position: center;
}